force-app/main/default/flows/Rate_Partner_Performance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <dynamicChoiceSets>
        <name>PartnerBusines</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Partner_Business_Planning__c</picklistField>
        <picklistObject>Partner_Performance_Review__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PartnerQuality</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Partner_Quality__c</picklistField>
        <picklistObject>Partner_Performance_Review__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PartnerRating</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Overall_rating__c</picklistField>
        <picklistObject>Partner_Performance_Review__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Rate Partner Performance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rate Partner Performance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Partner_Performance</name>
        <label>Add Partner Performance</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>Overall_Feedback__c</field>
            <value>
                <elementReference>Overall_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_rating__c</field>
            <value>
                <elementReference>Partner_Overall_Rating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Account__c</field>
            <value>
                <elementReference>partnerAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Business_Planning__c</field>
            <value>
                <elementReference>Partner_Business_Planning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Implementation_Description__c</field>
            <value>
                <elementReference>Partner_Work_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Quality__c</field>
            <value>
                <elementReference>Partner_Quality</elementReference>
            </value>
        </inputAssignments>
        <object>Partner_Performance_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Data</name>
        <label>Get Account Data</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Partner_Performance_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>partnerAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Partner_Performance_Review</name>
        <label>Partner Performance Review</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Partner_Performance</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Rate your partner - {!Get_Account_Data.Name}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Partner_Work_Description</name>
            <fieldText>Partner Work Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Partner_Business_Planning</name>
            <choiceReferences>PartnerBusines</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Partner Business Planning</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Partner_Quality</name>
            <choiceReferences>PartnerQuality</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Partner Quality</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Partner_Overall_Rating</name>
            <choiceReferences>PartnerRating</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Partner Overall Rating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Overall_Feedback</name>
            <fieldText>Overall Feedback</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>screenheader</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;&quot;Rate your partner performance:&quot; {!partnerAccountId} - {!partnerAccountName}&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>partnerAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
